

/* ************************************************************************ */ 
/*  App Specific Styles starting with '.thisApp'                            */ 
/* ************************************************************************ */ 


/* ************************************************************************ */ 
/*  Error Display                                                           */ 
/* ************************************************************************ */ 
.thisApp_ERROR_Display {
  color: #cc0000;
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

/* ************************************************************************ */ 
/*  Topic 2                                                                 */ 
/* ************************************************************************ */ 

/* ************************************************************************ */ 
/*  Topic ...                                                                 */ 
/* ************************************************************************ */ 


